* text=auto eol=lf

*.jar binary
*.data binary
*.so binary
*.bin binary

*.xml zos-working-tree-encoding=iso8859-1 git-encoding=utf-8
*.java zos-working-tree-encoding=utf-8 git-encoding=utf-8
*.kt zos-working-tree-encoding=utf-8 git-encoding=utf-8
*.sh zos-working-tree-encoding=iso8859-1 git-encoding=utf-8